// Variables
$font-primary: 'Open Sans', sans-serif;
$font-display: 'Lora', serif;
$font-handwriting: 'WindSong', cursive;

$color-light: #EDEDED;  // #fff #EDEDED
$color-gray: #444444;
$color-dark: #171717;   // #000 #444444
$color-accent: #DA0037; // #f22e2e #c165ff

$color-text-light: #EDEDED;   // #aaa
$color-text-dark: #171717;    // #000

$bp-very-small: 37.5em;       //  600px
$bp-smaller: 46.875em;        //  750px
$bp-small: 56.25em;           //  900px
$bp-medium-small: 68.75em;    // 1100px
$bp-medium: 78.125em;         // 1250px
$bp-medium-large: 93.75em;    // 1500px
$bp-large: 107.5em;           // 1720px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  @media only screen and (max-width: $bp-large) {
    font-size: 14px;
  }

  @media only screen and (min-width: 2000px) {
    font-size: 20px;
  }
}

body {
  font-family: $font-primary;
  line-height: 1.6;
  text-align: center;
  background-color: $color-light;
  color: $color-text-dark;
}

.heading-secondary {
  margin-bottom: 3.5rem;
  text-align: left;
  font-family: $font-display;
  font-size: 2.5rem;
  color: $color-accent;

  @media only screen and (max-width: $bp-small) {
    text-align: center;
  }

  @media only screen and (max-width: $bp-very-small) {
    font-size: 2.3rem;
  }
}

.heading-teriary {
  cursor: default;
  font-family: $font-display;
  font-size: 1.5rem;
  transition: transform 200ms;

  &:hover {
    color: $color-accent;
    transform: scale(1.05);

    @media only screen and (max-width: $bp-small) {
      color: currentColor;
      transform: scale(1);
    }
  }
}
