.section-about {
  margin: 5rem 10%;
  padding: 5rem;
  border: 3px solid $color-dark;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    padding: 4rem;
  }

  @media only screen and (max-width: $bp-medium-small) {
    margin-top: 4rem;
    padding: 2.5rem 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 2rem 3%;
    padding: 2.2rem;
    border: none;
  }

  @media only screen and (max-width: $bp-very-small) {
    margin-left: 0;
    margin-right: 0;
  }
}

.bass-clef {
  &__wrap {
    position: absolute;
    bottom: 0;
    left: -6.5rem;
    width: 14rem;
    background-color: $color-light;

    @media only screen and (max-width: $bp-medium) {
      left: 4.5rem;
      width: 12.7rem;
    }

    @media only screen and (max-width: $bp-medium) {
      left: -5rem;
      width: 11.5rem;
    }

    @media only screen and (max-width: $bp-medium-small) {
      left: -5.5rem;
      width: 11.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__icon {
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, .35));
    transition: transform 200ms;

    &:hover {
      fill: $color-accent;
      transform: rotate(6deg) scale(1.1);
    }
  }
}

.treble-clef {
  &__wrap {
    position: absolute;
    top: 0;
    right: -5rem;
    background-color: $color-light;
    padding-top: 1.3rem;
    width: 10rem;
    height: 18.5rem;

    @media only screen and (max-width: $bp-medium) {
      right: -4.5rem;
      width: 9rem;
      height: 16.2rem;
    }

    @media only screen and (max-width: $bp-medium-small) {
      right: -4rem;
      width: 8rem;
      height: 14.8rem;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__icon {
    align-self: start;
    filter: drop-shadow(0 0.5rem 1rem rgba(0, 0, 0, .35));
    transition: transform 200ms;

    &:hover {
      fill: $color-accent;
      transform: rotate(-6deg) scale(1.1);
    }
  }
}

.paragraph {
  margin: 1.6rem auto;
  font-size: 1.1rem;
  max-width: 60ch;

  @media only screen and (max-width: $bp-very-small) {
    font-size: 1rem;
  }

  strong {
    cursor: default;
    display: inline-block;
    transition: transform 200ms;

    &:hover {
      color: $color-accent;
      transform: scale(1.05);

      @media only screen and (max-width: $bp-small) {
        color: currentColor;
        transform: scale(1);
      }
    }
  }
}

.composition {
  margin: 12rem 0 8rem;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    margin: 1rem 0;
  }

  &__photo {
    width: 22rem;
    position: relative;
    transition: all 200ms;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .5);

    @media only screen and (max-width: $bp-medium-large) {
      width: 20rem;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 15rem;
      margin: 0 0.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 16.5rem;
    }

    @media only screen and (max-width: $bp-very-small) {
      width: 95%;
      margin: 0;
    }

    &:hover {
      transform: scale(1.05);
      outline-offset: 0.3rem;
      outline: 0.5rem solid $color-accent;
      z-index: 12;

      @media only screen and (max-width: $bp-small) {
        transform: scale(1);
        outline-offset: initial;
        outline: initial;
      }
    }

    &--1 {
      z-index: 8;
      left: 12rem;
      transform: scale(0.95);

      @media only screen and (max-width: $bp-medium) {
        left: 0;
        transform: scale(1);
      }

      @media only screen and (max-width: $bp-very-small) {
        display: none;
      }
    }

    &--2 {
      z-index: 10;
      top: -7rem;

      @media only screen and (max-width: $bp-medium) {
        top: 0;
        transform: scale(1);
      }
    }

    &--3 {
      z-index: 9;
      top: 3rem;
      right: 12rem;
      transform: scale(0.97);

      @media only screen and (max-width: $bp-medium) {
        top: 0;
        right: 0;
        transform: scale(1);
      }

      @media only screen and (max-width: $bp-medium-small) {
        display: none;
      }
    }
  }
}
